<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">


  <!-- <title>Kenneth Teh | Full-Stack Web Developer</title> -->

</head>
<body>
  <% content_for :title, "Kenneth Teh | Full-Stack Web Developer" %>
  <div class="container-fluid withbottomshadow">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mx-5">
      <a class="navbar-brand" href="#">KT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%= link_to "Portfolio", portfolio_path, class: "nav-link", 'data-toggle': "tooltip", 'data-placement': "bottom", 'title': "Look at some of my past work!" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal" data-toggle="tooltip" data-placement="bottom" title = "Talk to me if you need something!">Contact Me</a>
            <!-- Button trigger modal -->
          </li>
        </ul>
      </div>
    </nav>
  </div>

<!-- Hero section -->

<div class="jumbotron hero withbottomshadow">

  <h1 class="display-3">Kenneth Teh</h1>
  <p class="lead">Full-stack web developer</p>
  <p class>Find out more about me, or check out some of my work in the portfolio section.</p>

    <div class="col-12 col-md-12">
      <a class="btn btn-primary btn-lg standard-button" href="#" role="button" data-toggle="modal" data-target="#contactModal">About Me</a>
      <a href="https://www.linkedin.com/in/kennethtehwj/" title="LinkedIn" target="_blank" class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
      <a href="https://github.com/kennethteh90" title="GitHub" target="_blank" class="btn btn-github btn-lg"><i class="fa fa-github fa-fw"></i> GitHub</a>
    </div>

</div>
<!-- What I can do -->
<div class="inforow">
  <div class="container fluid">
    <div class="row">
      <h2>What I can do</h2><br><br>

    </div>

    <div class="row justify-content-around">

      <div class="col-6 front-end">
        <p><strong>Front End Web Development</strong> | HTML, CSS, JS</p>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="col-6 back-end">
        <p> <strong>Back End Web Development</strong> | Ruby</p>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="row  justify-content-center">
      <div class="col-12 framework">
        <p><strong>Framework</strong> | Ruby on Rails</p>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  contact-modal" role="document">

      <!-- <div class="modal-header"> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <!-- </div> -->
      <div class="row justify-content-around">
        <div class="card col-11 col-lg-5 about-me dropshadow">
          <h2>About Me.</h2>
          <p class="lead">Full-Stack Web Developer</p>
          <p>Kenneth Teh is currently a student at Alpha Camp's Full-Stack Web Development bootcamp.
            <br><br>
            Before this, he was an Investment Associate at Fast-Track Singapore. Most recently, he spent some time working on a few startup and app ideas: TagToPrint, a social media hashtag printing service; Store of Article, a web content/press release outsourcing site; and Foosh, an app that lets you schedule hangouts with your friends instantly. He graduated from UCLA with a degree in Business Economics. </p>
          </div>
          <div class="col-11 col-lg-5 contact-me">
            <h2>Let's Talk.</h2>
            <p class="lead">If you have something exciting you are trying to build, do send me an email through the form below:</p>

            <div class="container fluid">
              <form>

                <div class="form-group row">
                  <label for="firstName" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Your name" id="firstName">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="exampleFormControlTextarea1" class="col-sm-6 col-form-label">Your Message</label>
                  <textarea class="form-control col-sm-11 form-margins" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary standard-button black-button">Submit</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of modal -->

  </body>
  </html>
